/* styles.css */

div{

    color:white: }


p{

    color:white;
}


p{

    background-color:red;

}

p{

    font-family: "Arial"; "Times New Roman";
}
 
p{

    font-size: 32px;
}

p{

    text-align:center;

}

p{

    font-weight:bold;
}

    