/* styles.css */

div{

    color:white: }


div{

    color:white;
}


div{

    background-color:red;

}

div{

    font-family: "Arial"; "Times New Roman";
}
 
div{

    font-size: 32px;
}

div{

    text-align:center;

}

div{

    font-weight:bold;
}

    